@value variables: '../Theme/variables.css';
@value first_bg, second_bg, header_height from variables;

.header {
  width: 100%;
  height: header_height;
  padding: 5px 30px;
  background-color: second_bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 70px;
  background-image: url("../../../public/images/flash-cards_colored.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 2px #af52bf99);
}
.logo:hover {
  cursor: pointer;
}
