@value colors: './components/Theme/colors.css';
@value first_bg, second_bg from colors;

html,
body {
  height: 100vh;
  width: 100vw;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
}
.card_wrapper {
  height: 100vh;
  position: relative;
  margin: auto;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  padding: 24px;
  background-color: first_bg;
  /* opacity: 0.25; */
}
